@use "design" as d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include d.font-family;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 4em 0em;
    background-color: map-get(d.$color-bucket, "Cream");
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    header {
        @include d.border-radius;
        background-color: map-get(d.$color-bucket, "Soft red");
        padding: 1em 1.3em 1.5em 1.3em;
        position: relative;

        h1 {
            padding-top: 0.3em;
            font-size: 15px;
            font-weight: 400;
            color: map-get(d.$color-bucket, "Cream");
        }

        h2 {
            font-weight: 700;
            color: map-get(d.$color-bucket, "Very pale orange");
            padding-top: 0.1em;
        }

        svg {
            position: absolute;
            right: 0.7em;
            height: 42%;
            width: 24.5%;
            top: 25%;
        }

    }

    section {
        @include d.border-radius;
        background-color: map-get(d.$color-bucket, "Very pale orange");
        padding: 1.4em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            color: map-get(d.$color-bucket, "Dark brown");
            padding-left: 0.5em;
        }

        .progress-bar-container {
            padding-top: 2em;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .container {
                height: 12em;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                gap: 0.6em;
            }

            .day {
                font-size: 12px;
                color: map-get(d.$color-bucket, "Medium brown");
            }

            .progress {
                height: var(--dynamicHeight);
                width: 60%;
                background-color: map-get(d.$color-bucket, "Soft red");
                border-radius: 5px;
            }

            .data-amount {
                background-color: map-get(d.$color-bucket, "Dark brown");
                color: map-get(d.$color-bucket, "Cream");
                text-align: center;
                width: 4em;
                border-radius: 5px;
                display: grid;
                place-items: center;
                font-size: 13px;
                padding: 0.4em 0.5em;
                visibility: hidden;
            }

            .container:hover .data-amount {
                visibility: visible;
                cursor: pointer;
            }

            .container:hover .progress {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        footer {
            display: flex;
            border-top: 2px solid map-get(d.$color-bucket, "Cream");
            padding-top: 1.5em;
            padding-left: 0.8em;
            padding-right: 0.8em;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5em;

            section {
                color: map-get(d.$color-bucket, "Medium brown");
                padding: 0;
                gap: 0.2em;

                span {
                    font-size: 2rem;
                    font-weight: 700;
                    color: map-get(d.$color-bucket, "Dark brown");
                }
            }

            aside {
                text-align: right;
                font-size: 14px;
                padding-top: 1.7em;

                div:first-child {
                    font-weight: 700;
                    color: map-get(d.$color-bucket, "Dark brown");
                }

                div:last-child {
                    font-size: 15px;
                    color: map-get(d.$color-bucket, "Medium brown");
                }
            }
        }
    }
}